@media screen and (min-width: 320px) {
  .balance-total-container {
    display: flex;
    justify-content: space-between;
    background: rgba(170, 149, 133, 0.5);
    margin: 1rem 0rem;
    align-items: center;
    font-size: 0.8rem;
  }

  .balance-total-title {
    text-transform: uppercase;
    margin: 0rem 1rem;
  }

  .balance-total-value {
    text-align: right;
    min-width: 115px;
    padding: 1rem 0.5rem;
    background: rgba(170, 149, 133, 0.6);
  }
}

@media screen and (min-width: 480px) {
  .balance-total-title {
    text-transform: uppercase;
    margin: 0rem 1.5rem;
  }

  .balance-total-value {
    min-width: 130px;
  }
}

@media screen and (min-width: 960px) {
  .balance-total-container {
    font-size: 1rem;
  }

  .balance-total-value {
    min-width: 160px;
    padding: 1rem;
  }
}
