.connect-wallet-container {
  margin-right: 36px;
}

.connect-wallet-btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid var(--color-accent);
  background-color: transparent;
  cursor: pointer;
}

.connect-wallet-btn:hover {
  border: 2px solid var(--color-text);
  box-shadow: 2px 2px #666;
  transition: all 0.5s ease;
  transition-property: border, box-shadow;
}

.connect-wallet-btn:active {
  transform: translateY(2px);
}