.connect-wallet-container {
}

.connect-wallet-btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid var(--color-accent);
  background-color: transparent;
  cursor: pointer;
}

.connect-wallet-btn:hover:enabled {
  border: 2px solid var(--color-hover);
  box-shadow: 2px 2px var(--color-hover);
  transition: all 0.5s ease;
  transition-property: border, box-shadow;
}

.connect-wallet-btn:active {
  transform: translateY(2px);
}

.connect-wallet-container > p {
  color: var(--color-text);
}

.connect-wallet-btn-error {
  border: 2px solid var(--color-error-input);
  transition: border 0.5s ease;
}

.connect-wallet-green-dot {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 50%;
  background-color: green;
}

.connect-wallet-gray-dot {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
}

